In [36]:
import pandas as pd
import csv
import numpy as np

In [37]:
car=pd.read_csv("new_car2.csv")
car.head()

,OBJECTID,osm_id,name,ref,type,oneway,bridge,maxspeed,Shape_Leng,length,spd_kmperh,time,Shape_Le_1
0,1,5029221.0,Boerum Place,NaN,primary,1,0,25,91.533510,0.091534,40,0.219680,91.533510
1,2,5668966.0,West 106th Street,NaN,secondary,0,0,0,65.848381,0.065848,0,0.131697,65.848381
2,3,5668968.0,West 80th Street,NaN,residential,1,0,0,233.732081,0.233732,0,0.934928,233.732081
3,4,5668977.0,West 84th Street,NaN,residential,1,0,0,324.976689,0.324977,0,1.299907,324.976689
4,5,5668983.0,Szold Place,NaN,residential,1,0,20,155.082425,0.155082,32,0.465247,155.082425

In [53]:
car

,OBJECTID,osm_id,name,ref,type,oneway,bridge,maxspeed,Shape_Leng,length,spd_kmperh,time,Shape_Le_1
0,1,5029221.0,Boerum Place,NaN,primary,1,0,25,91.533510,0.091534,40,0.219680,91.533510
1,2,5668966.0,West 106th Street,NaN,secondary,0,0,0,65.848381,0.065848,0,0.131697,65.848381
2,3,5668968.0,West 80th Street,NaN,residential,1,0,0,233.732081,0.233732,0,0.934928,233.732081
3,4,5668977.0,West 84th Street,NaN,residential,1,0,0,324.976689,0.324977,0,1.299907,324.976689
4,5,5668983.0,Szold Place,NaN,residential,1,0,20,155.082425,0.155082,32,0.465247,155.082425
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123545,123871,822831215.0,NaN,NaN,service,0,0,0,28.187505,0.028188,0,0.112750,5.978397
123546,123872,822831216.0,NaN,NaN,service,0,0,0,182.448090,0.182448,0,0.729792,3.044029
123547,123873,823219285.0,NaN,NaN,service,0,0,0,365.876968,0.365877,0,1.463508,82.155944
123548,123874,823219285.0,NaN,NaN,service,0,0,0,365.876968,0.365877,0,1.463508,16.320901
123549,123875,822831215.0,NaN,NaN,service,0,0,0,43.241638,0.043242,0,0.172967,16.320901

	motorway: 50 mph  
	primary road: 40 mph  
	secondary: 30 mph  
	tertiary: 25 mph  
	residential: 15 mph

In [38]:
primary0=car[(car["type"] == 'primary') | (car["type"] == 'primary_link')]

In [39]:
primary0['maxspeed'].replace(0,40,inplace=True)

C:\Users\zheng\anaconda3\envs\musa-550-fall-2021\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [40]:
primary0

,OBJECTID,osm_id,name,ref,type,oneway,bridge,maxspeed,Shape_Leng,length,spd_kmperh,time,Shape_Le_1
0,1,5029221.0,Boerum Place,NaN,primary,1,0,25,91.533510,0.091534,40,0.219680,91.533510
55,56,5669595.0,NaN,NaN,primary,1,0,40,81.316564,0.081317,0,0.121975,81.316564
78,79,5669799.0,Broadway,NaN,primary,1,0,40,29.983951,0.029984,0,0.044976,29.983951
90,91,5669857.0,Delancey Street,NaN,primary,1,0,25,77.634642,0.077635,40,0.186323,77.634642
98,99,5669892.0,Kenmare Street,NaN,primary,0,0,25,76.154819,0.076155,40,0.182772,76.154819
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123413,123736,420586546.0,4th Avenue,NaN,primary,1,0,25,3.671516,0.003672,40,0.008812,3.671516
123414,123737,420586546.0,4th Avenue,NaN,primary,1,0,25,1.828167,0.001828,40,0.004388,1.828167
123419,123742,586147526.0,Bruckner Boulevard,NaN,primary,1,0,40,1.859534,0.001860,0,0.002789,1.859534
123519,123842,420586546.0,4th Avenue,NaN,primary,1,0,25,0.048265,0.000048,40,0.000116,0.048265
123520,123843,420586546.0,4th Avenue,NaN,primary,1,0,25,2.642011,0.002642,40,0.006341,2.642011

In [41]:
motorway0=car[(car["type"] == 'motorway') | (car["type"] == 'motorway_link')]

In [42]:
motorway0['maxspeed'].replace(0,50,inplace=True)

C:\Users\zheng\anaconda3\envs\musa-550-fall-2021\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [43]:
motorway0

,OBJECTID,osm_id,name,ref,type,oneway,bridge,maxspeed,Shape_Leng,length,spd_kmperh,time,Shape_Le_1
12,13,5669025.0,NaN,NaN,motorway_link,1,0,50,72.190184,0.072190,0,0.086628,72.190184
13,14,5669067.0,NaN,NaN,motorway_link,1,0,50,311.590177,0.311590,0,0.373908,311.590177
14,15,5669077.0,NaN,NaN,motorway_link,1,0,50,104.756013,0.104756,0,0.125707,104.756013
15,16,5669099.0,NaN,NaN,motorway_link,1,0,50,52.738224,0.052738,0,0.063286,52.738224
16,17,5669101.0,NaN,NaN,motorway_link,1,0,50,335.541739,0.335542,0,0.402650,335.541739
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123514,123837,46240264.0,NaN,NaN,motorway_link,1,1,50,6.113795,0.006114,0,0.007337,6.113795
123515,123838,46677325.0,Hutchinson River Parkway,HR,motorway,1,0,50,7.644700,0.007645,80,0.009174,7.644700
123516,123839,413702744.0,Battery Park Underpass,NaN,motorway,1,0,30,2.517919,0.002518,48,0.005036,2.517919
123517,123840,413749473.0,Brooklyn-Battery Tunnel,NaN,motorway,1,0,40,3.889999,0.003890,64,0.005835,3.889999
123518,123841,413749473.0,Brooklyn-Battery Tunnel,NaN,motorway,1,0,40,5.679891,0.005680,64,0.008520,5.679891

In [44]:
secondary0=car[(car["type"] == 'secondary') | (car["type"] == 'secondary_link')]
secondary0['maxspeed'].replace(0,30,inplace=True)
secondary0

C:\Users\zheng\anaconda3\envs\musa-550-fall-2021\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,OBJECTID,osm_id,name,ref,type,oneway,bridge,maxspeed,Shape_Leng,length,spd_kmperh,time,Shape_Le_1
1,2,5668966.0,West 106th Street,NaN,secondary,0,0,30,65.848381,0.065848,0,0.131697,65.848381
26,27,5669227.0,Galvin Avenue,NaN,secondary,1,0,25,79.953701,0.079954,40,0.191889,79.953701
27,28,5669236.0,York Avenue,NaN,secondary,1,0,30,27.746789,0.027747,0,0.055494,27.746789
29,30,5669290.0,97th Street Transverse,NaN,secondary,1,0,30,11.874353,0.011874,0,0.023749,11.874353
31,32,5669316.0,West 138th Street,NaN,secondary,1,0,30,29.083367,0.029083,0,0.058167,29.083367
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123397,123720,180330674.0,Jamaica Avenue,NaN,secondary,0,0,30,79.355631,0.079356,0,0.158711,79.355631
123398,123721,182690747.0,Douglaston Parkway,NaN,secondary,0,0,30,9.794802,0.009795,0,0.019590,9.794802
123404,123727,286758892.0,NaN,NaN,secondary_link,0,0,30,2.790952,0.002791,0,0.005582,2.790952
123412,123735,420540321.0,92nd Street,NaN,secondary,0,1,30,1.262623,0.001263,0,0.002525,1.262623
123415,123738,420895448.0,East 149th Street,NaN,secondary,0,0,30,0.601536,0.000602,0,0.001203,0.601536

In [45]:
tertiary0=car[(car["type"] == 'tertiary') | (car["type"] == 'road')]
tertiary0['maxspeed'].replace(0,25,inplace=True)
tertiary0

C:\Users\zheng\anaconda3\envs\musa-550-fall-2021\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,OBJECTID,osm_id,name,ref,type,oneway,bridge,maxspeed,Shape_Leng,length,spd_kmperh,time,Shape_Le_1
27295,27301,308060777.0,NaN,NaN,road,0,0,25,523.531304,0.523531,0,1.256475,523.531304
38032,38038,603496415.0,NaN,NaN,road,0,0,25,174.472142,0.174472,0,0.418733,174.472142
46814,46823,5668973.0,Hillside Avenue,NaN,tertiary,1,0,25,706.864057,0.706864,0,1.696474,706.864057
46819,46828,5669509.0,Main Street,NaN,tertiary,0,0,15,21.145322,0.021145,24,0.084581,21.145322
46820,46829,5669683.0,Saint Nicholas Place,NaN,tertiary,1,0,25,158.341094,0.158341,40,0.380019,158.341094
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123507,123830,886580173.0,East 180th Street,NaN,tertiary,0,0,25,6.097426,0.006097,0,0.014634,6.097426
123521,123844,46846342.0,18th Street,NaN,tertiary,1,0,25,2.614065,0.002614,0,0.006274,2.614065
123532,123855,249622107.0,5th Avenue,NaN,tertiary,0,0,25,1.341024,0.001341,0,0.003218,1.341024
123533,123856,249622107.0,5th Avenue,NaN,tertiary,0,0,25,1.529882,0.001530,0,0.003672,1.529882
123536,123859,249622107.0,5th Avenue,NaN,tertiary,0,0,25,0.057185,0.000057,0,0.000137,0.057185

In [46]:
residential0=car[(car["type"] == 'residential') | (car["type"] == 'service')| (car["type"] == 'services')]
residential0['maxspeed'].replace(0,15,inplace=True)
residential0

C:\Users\zheng\anaconda3\envs\musa-550-fall-2021\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,OBJECTID,osm_id,name,ref,type,oneway,bridge,maxspeed,Shape_Leng,length,spd_kmperh,time,Shape_Le_1
2,3,5668968.0,West 80th Street,NaN,residential,1,0,15,233.732081,0.233732,0,0.934928,233.732081
3,4,5668977.0,West 84th Street,NaN,residential,1,0,15,324.976689,0.324977,0,1.299907,324.976689
4,5,5668983.0,Szold Place,NaN,residential,1,0,20,155.082425,0.155082,32,0.465247,155.082425
5,6,5668986.0,La Salle Street,NaN,residential,0,0,15,263.546107,0.263546,0,1.054184,263.546107
6,7,5668989.0,West 9th Street,NaN,residential,1,0,25,297.613187,0.297613,40,0.714272,297.613187
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123545,123871,822831215.0,NaN,NaN,service,0,0,15,28.187505,0.028188,0,0.112750,5.978397
123546,123872,822831216.0,NaN,NaN,service,0,0,15,182.448090,0.182448,0,0.729792,3.044029
123547,123873,823219285.0,NaN,NaN,service,0,0,15,365.876968,0.365877,0,1.463508,82.155944
123548,123874,823219285.0,NaN,NaN,service,0,0,15,365.876968,0.365877,0,1.463508,16.320901
123549,123875,822831215.0,NaN,NaN,service,0,0,15,43.241638,0.043242,0,0.172967,16.320901

In [47]:
dfs=[primary0,motorway0,residential0,tertiary0,secondary0]

car0=pd.DataFrame()

car0=pd.concat(dfs)

In [48]:
car0

,OBJECTID,osm_id,name,ref,type,oneway,bridge,maxspeed,Shape_Leng,length,spd_kmperh,time,Shape_Le_1
0,1,5029221.0,Boerum Place,NaN,primary,1,0,25,91.533510,0.091534,40,0.219680,91.533510
55,56,5669595.0,NaN,NaN,primary,1,0,40,81.316564,0.081317,0,0.121975,81.316564
78,79,5669799.0,Broadway,NaN,primary,1,0,40,29.983951,0.029984,0,0.044976,29.983951
90,91,5669857.0,Delancey Street,NaN,primary,1,0,25,77.634642,0.077635,40,0.186323,77.634642
98,99,5669892.0,Kenmare Street,NaN,primary,0,0,25,76.154819,0.076155,40,0.182772,76.154819
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123397,123720,180330674.0,Jamaica Avenue,NaN,secondary,0,0,30,79.355631,0.079356,0,0.158711,79.355631
123398,123721,182690747.0,Douglaston Parkway,NaN,secondary,0,0,30,9.794802,0.009795,0,0.019590,9.794802
123404,123727,286758892.0,NaN,NaN,secondary_link,0,0,30,2.790952,0.002791,0,0.005582,2.790952
123412,123735,420540321.0,92nd Street,NaN,secondary,0,1,30,1.262623,0.001263,0,0.002525,1.262623
123415,123738,420895448.0,East 149th Street,NaN,secondary,0,0,30,0.601536,0.000602,0,0.001203,0.601536

In [49]:
car0['spd_kmperh']=car0['maxspeed']*1.6

In [50]:
car0['time']=60*car0['length']/car0['spd_kmperh']
car0['time']

0         0.137300
55        0.076234
78        0.028110
90        0.116452
98        0.114232
            ...
123397    0.099195
123398    0.012244
123404    0.003489
123412    0.001578
123415    0.000752
Name: time, Length: 123550, dtype: float64

In [56]:
car0.sort_values(by=['OBJECTID'], ascending=True)

,OBJECTID,osm_id,name,ref,type,oneway,bridge,maxspeed,Shape_Leng,length,spd_kmperh,time,Shape_Le_1
0,1,5029221.0,Boerum Place,NaN,primary,1,0,25,91.533510,0.091534,40.0,0.137300,91.533510
1,2,5668966.0,West 106th Street,NaN,secondary,0,0,30,65.848381,0.065848,48.0,0.082310,65.848381
2,3,5668968.0,West 80th Street,NaN,residential,1,0,15,233.732081,0.233732,24.0,0.584330,233.732081
3,4,5668977.0,West 84th Street,NaN,residential,1,0,15,324.976689,0.324977,24.0,0.812442,324.976689
4,5,5668983.0,Szold Place,NaN,residential,1,0,20,155.082425,0.155082,32.0,0.290780,155.082425
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123545,123871,822831215.0,NaN,NaN,service,0,0,15,28.187505,0.028188,24.0,0.070469,5.978397
123546,123872,822831216.0,NaN,NaN,service,0,0,15,182.448090,0.182448,24.0,0.456120,3.044029
123547,123873,823219285.0,NaN,NaN,service,0,0,15,365.876968,0.365877,24.0,0.914692,82.155944
123548,123874,823219285.0,NaN,NaN,service,0,0,15,365.876968,0.365877,24.0,0.914692,16.320901
123549,123875,822831215.0,NaN,NaN,service,0,0,15,43.241638,0.043242,24.0,0.108104,16.320901

In [57]:
car0.to_csv("car0.csv")

In [52]:
car0

,OBJECTID,osm_id,name,ref,type,oneway,bridge,maxspeed,Shape_Leng,length,spd_kmperh,time,Shape_Le_1
0,1,5029221.0,Boerum Place,NaN,primary,1,0,25,91.533510,0.091534,40.0,0.137300,91.533510
55,56,5669595.0,NaN,NaN,primary,1,0,40,81.316564,0.081317,64.0,0.076234,81.316564
78,79,5669799.0,Broadway,NaN,primary,1,0,40,29.983951,0.029984,64.0,0.028110,29.983951
90,91,5669857.0,Delancey Street,NaN,primary,1,0,25,77.634642,0.077635,40.0,0.116452,77.634642
98,99,5669892.0,Kenmare Street,NaN,primary,0,0,25,76.154819,0.076155,40.0,0.114232,76.154819
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123397,123720,180330674.0,Jamaica Avenue,NaN,secondary,0,0,30,79.355631,0.079356,48.0,0.099195,79.355631
123398,123721,182690747.0,Douglaston Parkway,NaN,secondary,0,0,30,9.794802,0.009795,48.0,0.012244,9.794802
123404,123727,286758892.0,NaN,NaN,secondary_link,0,0,30,2.790952,0.002791,48.0,0.003489,2.790952
123412,123735,420540321.0,92nd Street,NaN,secondary,0,1,30,1.262623,0.001263,48.0,0.001578,1.262623
123415,123738,420895448.0,East 149th Street,NaN,secondary,0,0,30,0.601536,0.000602,48.0,0.000752,0.601536